.container-fluid{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.row{
    height: 100vh;
}

.container-left{
    text-align: center;
    color: #fff;
    align-items:center;
    max-height: 100%;
}
.container-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}

.container-right{
    background: #f8f9fa;
    border-top-left-radius: 15% 50%;
    border-bottom-left-radius: 15% 50%;
    align-items:center;
    max-height: 100%;
}

.container-right .column{
   
    width: 100%;
    height: auto;
    position: relative;
    padding-left: 14%;
    padding-top: 3%;
    align-content: center;
}

#umdu{
    width: 25%;
    height: 98%;
    float:center;
    margin-top: 10px;

}

#eii{
    width: 37%;
    height: 100%;
    margin-right: 20%;
    float: center;

}


.container-left img{
    margin-top: 7%;
    margin-bottom: 12%;
    -webkit-animation: mover 5s infinite  alternate;
    animation: mover 4.2s infinite  alternate;
}

img{
width:101%;
height: auto;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

/*---------------- Parrafos información ---------------*/
.container-left H1{
    font-size:55px;
    font-family:"montserrat",sans-serif;
    font-weight: 100;
    letter-spacing: 1px;

 
}
.container-left p#parrafo{
    font-weight: lighter;
    padding: 8%;
    padding-top: 10%;
    text-align:left;
    font-family:'Open Sans', sans-serif;
}

table{
    border-top: 2px solid rgb(255, 255, 255, .3);
    text-align: left;
    padding-left: 10%;
    position: absolute;
    bottom: 10px;
    left: 3%;
}

td{
    padding-top:10px;
    padding-left: 7%;
}


p#copyright{
    text-align: left;
    padding-left: 8%;
    position: absolute;
    bottom: 10px;
}


/*------------- Datos Personales --------------*/
.container-fluid{
    list-style: none;
}

.container-heading{
    text-align: center;
    font-family:"montserrat",sans-serif;
    font-weight: 100;
    font-size: 50px;
    padding-top: 8%;
    color: #495057;
}


/*----------------------------------------------*/
.col{
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}


/*----------------------------------------------*/

form#regForm{
   margin-top: 5%;  
   align-content: center;
   margin-left: 15%;
}


input.form-control {
    margin-top: 3%;
    width: 80%;
}

.was-validated .form-control:invalid{
    margin-top: 1%;
}

.form-control{

    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    
    box-sizing: border-box;
    margin: 0;
    overflow: visible;
    -webkit-font-smoothing: antialiased;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color:transparent;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: 1px solid #d2d8dd;
    border-radius: 3px;
    font-family: "Work Sans",Arial,sans-serif;
    font-weight: 400;
    font-size: .875rem;
    height: calc(2.55rem + 2px);


}

/*------------------------------------------------------------------
[ Button ]*/
button{
    width: auto;
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-image: linear-gradient(to left,#12CBC4,#0652DD,#12CBC4);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.btn{
    border: none;
    padding: 10px;
    width: 170px;
    font-family:"montserrat",sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    background-size: 200%;
    transition: 0.6s;
    border-top-left-radius: 15% 50%;
    border-bottom-left-radius: 15% 50%;
    border-bottom-right-radius: 15% 50%;
    border-top-right-radius: 15% 50%;
  }
  
.btn:hover{
  background-position: right;
}
  